{{ define "title" }} Catalog {{ end }}

{{ define "head" }}
<script src="/catalog/static/js/catalog.js" type="module"></script>
{{ end }}

{{ define "nav-title" }}Catalog{{ end }}

{{ define "content" }}
<div id="articles-catalog">
    <form id="filters-form">
        <fieldset>
            <legend>Search:</legend>
            <input type="text" name="search" id="search" placeholder="Search" value="{{ .Options.SearchTerm }}" />
            <button>Search</button>
        </fieldset>

        <fieldset>
            <legend>Tags:</legend>
            <div class="tags-options">
                {{ range .Tags }}
                <label for="tags-filter-{{.Id}}" class="tags-filter-label">
                    <input type="checkbox" value="{{.Id}}" name="tags" id="tags-filter-{{.Id}}" {{ if .Selected }}
                        checked {{ end }} />
                    {{.Name}}
                </label>

                {{ end }}
            </div>
        </fieldset>
    </form>

    {{template "catalog-list" .Articles }}
</div>

<style>
    #articles-catalog {
        max-width: 1024px;
        margin-inline: auto;

        h1 {
            font-size: var(--font-size-xl);
        }

        #filters-form {
            max-width: 100%;

            fieldset:has(.tags-options) {
                display: grid;

                .tags-options {
                    display: flex;
                    overflow: auto;
                    gap: var(--space-2);

                    .tags-filter-label {
                        display: inline-flex;
                    }
                }
            }
        }

        #catalog-list {
            --column-count: 1;

            display: grid;
            grid-template-columns: repeat(var(--column-count), 1fr);
            gap: 1rem;
            padding: 1rem;

            @media(min-width: 425px) {
                --column-count: 2;
            }

            @media(min-width: 768px) {
                --column-count: 3;
            }

            @media(min-width: 1024px) {
                --column-count: 4;
            }
        }

        .article-row {
            border-radius: 12px;
            background: #FEF6FD;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--space-4) var(--space-5);
            gap: var(--space-4);

            .article-name {
                font-weight: 700;
                color: hsl(0 0 30%);
            }

            .article-info {
                flex-grow: 1;
                gap: var(--space-3);
                align-self: stretch;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }

            .article-name {
                flex-grow: 1;
            }

            .article-price {
                font-size: var(--fontsize-lg);
                flex-grow: 1;
                align-content: end;
            }

            .informative-badges {
                display: flex;
                gap: var(--space-1);

                .trade-badge {
                    font-size: var(--fontsize-sm);
                    border-radius: var(--radius-sm);
                    padding: var(--space-1) var(--space-2);
                    border: 1px solid #777777;

                    &[data-tradeable="true"] {
                        background: rgba(100, 255, 100, 0.4);
                    }

                    &[data-tradeable="false"] {
                        color: rgba(0, 0, 0, 0.4);
                        background: rgba(0, 0, 0, 0.1);
                        position: relative;

                        &:after {
                            content: '';
                            width: 90%;
                            height: 2px;
                            position: absolute;
                            top: calc(50% - 1px);
                            left: 5%;
                            background: rgba(0, 0, 0, 0.4);
                        }
                    }
                }

                .condition-badge {
                    border: 1px solid #777777;
                    font-size: var(--fontsize-sm);
                    border-radius: var(--radius-sm);
                    padding: var(--space-1) var(--space-2);

                    &[data-condition="new"] {
                        background: #16a34a44;
                    }

                    &[data-condition="semi-new"] {
                        background: #84cc1644;
                    }

                    &[data-condition="used"] {
                        background: #f59e0b44;
                    }

                    &[data-condition="very-used"] {
                        background: #ef444444;
                    }
                }
            }

            .article-image-wrapper {
                border: 1px solid oklch(80% 0 0);
                overflow: hidden;
                width: 100%;
                height: 144px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .article-tags-list {
                display: flex;
                gap: var(--space-1);
                flex-wrap: wrap;

                .article-tag {
                    font-size: var(--fontsize-sm);
                    padding: var(--space-1) var(--space-3);
                    border-radius: 4px;
                    background-color: var(--color-tertiary);
                    border: 1px solid #777777;
                }
            }
        }
    }
</style>
{{ end }}
