<!doctype html>

<html>

<head>
    <title>to-adhdo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="public/lib/main.js" type="module"></script>

    <link href="public/styles/main.css" rel="stylesheet" />
</head>

<body>
    <div id="task_form_container">
        <p>Create task</p>

        <form id="task_form">
            <div class="form_control">
                <label for="input_create_task_name">Name:</label>
                <input id="input_create_task_name" type="text" name="name" value="" />
            </div>

            <div class="form_control">
                <label for="textarea_create_task_description">Description:</label>
                <textarea name="description" id="textarea_create_task_description" type="text" name="description"
                    rows="3" value=""></textarea>
            </div>

            <div class="form_control">
                <label for="input_create_task_tag_selector">Tags:</label>

                <div id="div_selected_tags"></div>

                <input name="tag_selector" id="input_create_task_tag_selector" type="text"
                    list="datalist_available_tags" />

                <ul id="ul_filtered_tags"></ul>
            </div>

            <datalist id="datalist_available_tags">
                {{ range .tags }}
                <option value="{{.Name}}"></option>
                {{ end }}
            </datalist>

            <button class="form_submit_button" type="submit">Save</button>
        </form>
    </div>

    <div id="task_list_container">
        {{ template "tasks_list" .tasks }}
    </div>

    <template id="template_create_task_selected_tag">
        <div class="selected_tag_card">
            <input type="text" name="tags" readonly />
            <button class="selected_tag_card_btn" type="button">
                &times;
            </button>
        </div>
    </template>
</body>

</html>
