{{ define "nav" }}
<nav id="main-nav">
    <button class="menu-toggle-btn" popovertarget="main-menu-dialog">
        Menu
    </button>

    {{ block "context-menu-button" . }}{{end}}
</nav>

<dialog class="menu-dialog" id="main-menu-dialog" popover>
    <div class="menu">
        <div class="header">
            <span>Menu</span>
            <button popovertarget="main-menu-dialog">&times;</button>
        </div>

        <hr />

        <ul class="items">
            <li><a href="/">Inicio</a></li>
            <li><a href="/articles">Mi catalogo</a></li>
            <li><a href="/wishlist">Mis deseos</a></li>
            <li><a href="/articles">Sobre mi</a></li>
        </ul>
    </div>
</dialog>

<script>
    document.addEventListener('click', ev => {
        const btn = ev.target.closest('[data-action]')
        console.log("button", btn)

        if (!btn) return

        const {action, menu_collapsed} = btn.dataset

        if (!action) return

        switch (action) {
            case 'toggle-menu': {
                const {menu_collapsed} = btn.dataset
                const isCurrentlyCollapsed = menu_collapsed.toUpperCase() === (true).toString().toUpperCase()

                document.querySelectorAll('[data-menu_collapsed').forEach(el => {
                    el.dataset.menu_collapsed = !isCurrentlyCollapsed
                })
                break
            }
        }
    })
</script>

<style>
    #main-nav {
        display: flex;
        gap: 12px;
        padding: 12px 8px;
        align-items: center;
        background-color: #3E1923;
    }
</style>

{{ end }}
