{{ define "articles/form" }}
<!doctype>
<html>

<head>
    <title>New article</title>
    <script type="module" src="/public/lib/articles/form.js"></script>

    {{ template "meta_tags" }}
</head>

<body>
    <form id="articles-form">
        <a href="/articles">&lt; Back to list</a>

        <input type="hidden" name="id" value="{{.Article.Id}}" />

        <fieldset id="base-info">
            <legend>Base info</legend>

            <div class="form-control">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{.Article.Name}}" placeholder="name" required />
            </div>

            <div class="form-control">
                <label for="description">Description: </label>
                <textarea type="text" rows="3" id="description" name="description"
                    placeholder="description">{{.Article.Description}}</textarea>
            </div>
        </fieldset>

        <fieldset id="tags-section">
            <legend>Tags</legend>

            <input name="tag_search" id="tag_search" type="text" list="datalist-available-tags"
                placeholder="Search or create tag" />

            <ul data-component="selected-tags-list">
                {{ range .Article.Tags }}
                {{ template "selected-tag-template" . }}
                {{ end }}
            </ul>
        </fieldset>

        <datalist id="datalist-available-tags">
            {{ range .TagOptions }}
            <option value="{{.Name}}" data-tagid="{{.Id}}" {{if .Disabled}}disabled{{end}}></option>
            {{ end }}
        </datalist>

        <div>
            <button type="submit">Save article</button>
            <button type="reset">Reset</button>
        </div>

        <small>Last updated: {{.Article.UpdatedAt}}</small>
    </form>

    <template id="selected-tag-template">
        {{ template "selected-tag-template" }}
    </template>

    <style>
        #articles-form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            #base-info {
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .form-control {
                    display: grid;
                    row-gap: 4px;
                }
            }
        }
    </style>
</body>

</html>
{{ end }}

{{ define "selected-tag-template" }}
<li>
    <input type="text" name="tags_names" value="{{.Name}}" readonly />
    <input type="hidden" name="tags_ids" value="{{.Id}}" />
    <button data-action="remove-tag" type="button"> &times; </button>
</li>
{{ end }}
