{{ define "base_styles" }}
<style id="base_styles">
    :root {
        --color-primary: hsl(39.05 100% 75%);
        --color-secondary: oklch(0.7497 0.1283 262.19);
        --color-tertiary: hsl(339.41 100% 87%);
        --color-alt: hsl(159.05 100% 75%);

        --fontsize-base: 18px;
        --fontsize-sm: calc(var(--fontsize-base) * 0.8);
        --fontsize-md: calc(var(--fontsize-base) * 1.4);
        --fontsize-lg: calc(var(--fontsize-base) * 1.6);
        --fontsize-xl: calc(var(--fontsize-base) * 2);

        --space-1: 4px;
        --space-2: 4px;
        --space-3: 12px;
        --space-4: 18px;
        --space-5: 24px;
        --space-6: 32px;
    }

    /* ******
     * Resets
     * 
     * Removes and/or adjusts styles I don't like.
     * And adds any style I like and think should apply to every element of a type
     */

    body {
        margin: 0;
        font-family: sans-serif;
        font-size: var(--fontsize-base);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: unset;
        margin: 0;
        display: unset;
        font-weight: unset;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }
</style>
{{ end }}
