.menu-dialog {
    padding: 0;
    border: 2px solid #3E1923;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    margin-top: 10vh;
    width: 80vw;
    max-width: 240px;

    &::backdrop {
        background: rgba(145, 102, 124, 0.6);
    }

    .menu {
        .header {
            display: flex;
            justify-content: space-between;
            padding: 8px;
        }


        hr {
            margin: 0;
        }

        .items {
            display: flex;
            flex-direction: column;

            li {
                /* to avoid collapsing content */
                display: flex;

                a {
                    padding: 8px 24px;
                    width: 100%;
                }
            }
        }
    }
}

.menu-toggle-btn {
    border: 1px solid #ffffff44;
    height: 28px;
    min-width: 84px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
}
