:root {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.task_template_form {
    display: grid;
    row-gap: 1rem;
    max-width: 400px;
    margin: auto;
}

.task_template_form__suggested_tags_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.task_template_form_suggested_tags_list li+li {
    margin-left: 0.2rem;
}

.form_control {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow: auto;
}

.form_control textarea,
.form_control input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid gray;
}

.form_submit_button {
    padding: 8px 12px;
    border-radius: 8px;
    min-width: 120px;
    border: 1px solid gray;
}

.task_template_form__selected_tags_list {
    display: flex;
}

.task_template_form__selected_tags_list input {
    border: none;
    background: none;
    width: 40px;
}
