{{ define "task_template_form" }}

<form class="task_template_form" data-task-template-id="{{.task.Id}}" id="task_template_form">
    <p>Create task</p>

    <input name="task_id" type="hidden" value="{{.task.Id}}" />

    <div class="form_control">
        <label for="input_create_task_name">Name:</label>
        <input id="input_create_task_name" type="text" name="name" value="" />
    </div>

    <div class="form_control">
        <label for="textarea_create_task_description">Description:</label>
        <textarea name="description" id="textarea_create_task_description" type="text" name="description" rows="3"
            value=""></textarea>
    </div>

    <div class="form_control">
        <label for="input_create_task_tag_selector">Tags:</label>

        <div class="task_template_form__selected_tags_list"></div>

        <input name="tag_selector" id="input_create_task_tag_selector" type="text" list="datalist_available_tags" />

        <ul class="task_template_form__suggested_tags_list"></ul>
    </div>

    <!--
        @review: how can we identify the datalist of this form vs the datalist of another form that could be in the DOM?
            - I think only one of these should be ever in any page
    -->
    <datalist id="datalist_available_tags" class="task_template_form__available_tags_datalist">
        {{ range .tags }}
        <option value="{{.Name}}"></option>
        {{ end }}
    </datalist>

    <button class="form_submit_button" type="submit">Save</button>

    <template class="task_template_form__selected_tag_template">
        <div class="selected_tag_card">
            <input type="text" name="tags" readonly />
            <button class="selected_tag_card_btn" type="button">
                &times;
            </button>
        </div>
    </template>

    <script type="module">
        import task_template_form from "../public/lib/controllers/task_template_form.controller.js"

        document.addEventListener('DOMContentLoaded', () => {
            const selector = 'form.task_template_form[data-task-template-id="{{.task.Id}}"]'
            const form = document.querySelector(selector)

            if (!form) {
                const msg = `No element to be attached to the controller found. Selector: ${selector}`
                console.error(new Error(msg))
            }


            try {
                task_template_form.init(form)
            } catch (e) {
                console.error(e)
            }
        })
    </script>
</form>
{{end}}
